---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: "Lato", "Helvetica Neue", "Helvetica", "Arial", "sans-serif";
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1024px;

$on-palm:          600px;
$on-laptop:        1024px;

// Minima also includes a mixin for defining media queries.
// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }

// Import partials from the `minima` theme.
@import "minima";

.site-header {
    // background-color: #373737;
    background-color: #333;
    border-top: 5px solid #fc0;
    border-bottom-style: dashed;
    border-bottom-color: #444;
}

.site-title, .site-title:visited {
    color: #fff;
    font-weight: 400;
}

.site-nav .page-link {
    //color: lightcyan;
    color: #fc0;
    border-right: 1px solid gray;
    padding: 3px;
}

.footer-col-3 {
    font-style: italic;
}

.page-content .wrapper {
    // background-color:  #f4f4f4 ;
    border-radius: 25px;
    background-color:  #444 ;
}

.page-content {
    // background-color: #f4f4f4 ; 
    background-color: #333;
    color: #ddd;
    text-shadow: 0 1px 3px rgba(0,0,0,0.5);
}

.page-content a { color: #fc0; text-decoration: none; }
.page-content a:visited { color: #fc0; }
.page-content a:hover { color: #f19900; text-decoration: underline; }

.site-footer {
    background-color: #444;
}

.site-footer a { color: #fc0; text-decoration: none; }
.site-footer a:visited { color: #fc0; }
.site-footer a:hover { color: #f19900; text-decoration: none; }

.highlight {
    color: black;
}

@media screen and (max-width: 600px) {

  .site-nav .page-link {
    color: #000;
  }

}

.post-content {
    padding: 5px;
    background-color: #555;
    border-radius: 5px;
}

#max-wrapper {
  // margin-right: 220px;
    min-height: 640px;
}

#max-content {
    float: left;
    width: 100%;
    background-color: #555;
    margin-bottom: 10px;
    //border-right: 2px;
    padding: 5px;
    border-radius: 5px;
}

.post-link {
    font-size: unset;
}