---
layout: default
---

<div class="home">

  <h1 class="page-heading"><br/>Posts</h1>

  <div id="max-wrapper" style="min-height: 640px;">
      
      <ul class="post-list">
        {% for post in site.posts %}
          <li>
              
            <div id="max-content">
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

            <b>
              <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
            </b>
            {% if page.description %}<p>{{ page.description }}</p>{% endif %}

            </div>
    
          </li>
          <li>
            <hr style="border-top: 1px dotted #8c8b8b;" />
          </li>
          
        {% endfor %}
      </ul>
      </div>
      
  </div>
  
    <!--
  <hr style="border-top: 1px dotted #8c8b8b;" />
  <p class="rss-subscribe">
    <a href="{{ "/tags/" | prepend: site.baseurl }}">tags</a> cloud | 
    subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>
  </p>
  <hr style="border-top: 1px dotted #8c8b8b;" />
    -->
    
</div>
