---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h3>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
        </h3>
        {% if page.description %}<p>{{ page.description }}</p>{% endif %}
      </li>
    {% endfor %}
  </ul>

  <hr style="border-top: 1px dotted #8c8b8b;" />
  <p class="rss-subscribe">
    List posts via <a href="{{ "/tags/" | prepend: site.baseurl }}">tags</a><br/>
    subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a>
  </p>
  <hr style="border-top: 1px dotted #8c8b8b;" />

    

</div>
